@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        scrollbar-width: thin;
        scrollbar-color: #545454 white;
    }

    *::-webkit-scrollbar {
        @apply w-[12px;]
    }

    *, body {
        @apply font-sans;
    }

    h1 {
        @apply text-4xl leading-tight my-[25px];
    }
    
    h2 {
        @apply text-3xl leading-tight my-[25px];
    }
    
    h3 {
        @apply text-2xl leading-tight my-[25px];
    }
    
    h4 {
        @apply text-xl leading-tight my-[25px];
    }
    
    h5 {
        @apply text-lg leading-tight my-[25px];
    }
    
    h6 {
        @apply text-base leading-tight my-[25px];
    }
}

.outline-none {
    outline: none;
}